# Use Google C++ coding style
Language: Cpp
BasedOnStyle: Google

# Never put short ifs on the same line
AllowShortIfStatementsOnASingleLine: Never

# Customize the include groups
IncludeCategories:
  # Headers in <> without extension.
  - Regex:           '<([A-Za-z0-9\Q/-_\E])+>'
    Priority:        1
  # Headers in <> from specific internal libraries.
  - Regex:           '<(melo)\/'
    Priority:        3
  # Headers in <> with extension.
  - Regex:           '<([A-Za-z0-9.\Q/-_\E])+>'
    Priority:        2
  # Headers in "" with extension.
  - Regex:           '"([A-Za-z0-9.\Q/-_\E])+"'
    Priority:        4
